.mainContainer{
    display : grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 85%;
    min-height: 89vh;
    text-align: center;
}

.categoryContainer{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: darkgrey;
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.categoryContainer, .contentContainer, .emailContainer{
    margin-bottom: 10px;
}

.contentContainer, .emailContainer{
    margin-right: 20px;
}

.contentContainer{
    grid-column: 2/3;
    grid-row: 1/2;
}

.emailContainer{
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 8px;
    background-color: lightgrey;
}